.users-main {
    display: none;
    justify-content: space-around;
}

#users-rec-table, #groups-rec-table {
    width: 97%;
    margin-bottom: 10%;
    margin: 1em;
}

.groups-main {
    display: none;
    justify-content: space-around;
}

/* #users-rec-table, #groups-rec-table {
    display: flex;
    flex-direction: column;
} */

#users2, #groups2 {
     display: flex;
    flex-direction: column;
    width: 97%;   
    margin: auto;
    justify-content: space-around;  
    margin-top: 2em;
}

.buttons {
    width: 13%;
}

.buttons input {
    padding: 0;
}

.buttons:last-child {
    margin-top: 1em;
}

.nav-2 {
    margin-top: 1em;
}

.last-td {
    text-align: center;
}