<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="../static/css//header.css" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">

    <link rel="stylesheet" href="../static/css/admin.css" th:href="@{/css/admin.css}">

    <link rel="stylesheet" href="../static/css/logIn.css" th:href="@{/css/logIn.css}">

    <link rel="stylesheet" href="../static/css/dropdownMenu.css" th:href="@{/css/dropdownMenu.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            color: #292929;
            background-color: #f6f6f6;
        }

        input {
            font-family: 'Montserrat', sans-serif;
            border: none;
            padding: 0.5em;
            color: #292929;
            background-color: #ffffff00;
            transition: color 0.3s, transform 0.3s;
        }
        input:hover {
            color: #909090;
            transform: scale(1.03)
        }
        input:focus {
            outline: none;
        }

        a {
            padding: 0.5em;
            color: #292929;
            text-decoration: none;
            transition: color 0.3s;
        }
        a:hover {
            color: #909090;
        }

        form {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #logn {
            max-width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.2em;
            margin: 11% auto;
        }

        #username, #password, .logIn-input {
            border-bottom: 1px solid #292929;
            width: 100%;
        }

        .start-buttons .loginButton {
            border: 1px solid #292929;
            cursor: pointer;
        }

        #loginButton {
            cursor: pointer;
        }

        #logInTitle {
            font-size: 50px;
            margin-bottom: .6em;
            caret-color: transparent;
        }
        #users1, #users2, #groups1, #groups2, #users3 {
            display: none;
        }
    </style>
     <header>
        <div id="logo">
            <a href="#">LOGO</a>
        </div>

        <div id="acc">
            <a th:href="@{/account/{id}(id=${user.getIduser()})}">Пользователь</a>
        </div>
    </header>

    <main>
        <div class="buttons">
            <nav class="nav" id="users">
                <input type="button" value="Пользователи" onclick="showTable('users1', 'users2','groups1', 'groups2','users3')">
            </nav>
            <nav class="nav-3" id="addUsers">
                <input type="button" value="Добавить пользователя" onclick="showTable('users2', 'users1','groups1', 'groups2','users3')">
            </nav>
            <nav class="nav-2" id="groups">
                <input type="button" value="Группы" onclick="showTable('groups1', 'users2', 'users1', 'groups2','users3')">
            </nav>
            <nav class="nav-2" id="addGroups">
                <input type="button" value="Добавить группу" onclick="showTable('groups2', 'users2', 'users1', 'groups1','users3')">
            </nav>
            <nav class="nav-2" id="addStudent">
                <input type="button" value="Добавить студента" onclick="showTable('users3', 'users2', 'users1', 'groups1', 'groups2')">
            </nav>
        </div>

        <section id="users1" class="users-main">
            <div class="statements-table">
                <table> 
                    <thead>
                        <tr>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>E-mail</th>
                            <th>Номер телефона</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <th:block th:if="${!user.getRoleList().contains('ROLE_ADMIN')}">
                                <td th:text="${user.getLastname()}"></td>
                                <td th:text="${user.getUsername()}"></td>
                                <td th:text="${user.getEmail()}"></td>
                                <td th:text="${user.getPhone()}"></td>
                                <td class="last-td">
                                    <a th:href="@{/admin/userRecords/{id}(id=${user.getIduser()})}">Ведомости</a>
                                </td>
                                <td class="last-td">
                                    <a th:href="@{/admin/updateUser/{id}(id=${user.getIduser()})}">Изменить</a>
                                </td>
                                <td>
                                    <form th:action="@{/admin/deleteUser/{id}(id=${user.getIduser()})}" method="post">
                                        <input type="submit" value="Удалить">
                                    </form>
                                </td>
                            </th:block>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        

        <section id="groups1" class="groups-main">
            <div class="statements-table">
                <table>
                    <thead>
                        <tr>
                            <th>Группа</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="group : ${groups}">
                            <td th:text="${group.getName()}"></td>
                            <td class="last-td">
                                <a th:href="@{/admin/groupStudents/{id}(id=${group.getIdgroup()})}">Студенты</a>
                            </td>
                            <td class="last-td">
                                <a th:href="@{/admin/groupRecords/{id}(id=${group.getIdgroup()})}">Ведомости</a>
                            </td>
                            <td>
                                <form th:action="@{/admin/deleteGroup/{id}(id=${group.getIdgroup()})}" method="post">
                                    <input type="submit" value="Удалить">
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section id="users3" class="groups-main">
            <div class="statements-table">
                <form th:method="POST" th:object="${newStudent}" th:action="@{/admin/createStudent}">
                    <div id="logn3">
                        <h1 id="logInTitle2">Добавление студента</h1>

                        <label for="lastname"></label>
                        <input type="text" name="lastname" id="lastname2" class="logIn-input" th:field="*{lastname}" placeholder="Фамилия">
                        <div style="color: red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" ></div>

                        <label for="username"></label>
                        <input type="text" name="username" id="firstname" class="logIn-input" th:field="*{firstname}" placeholder="Имя">
                        <div style="color: red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" ></div>

                        <label for="type">Группа</label>
                        <select class="inf-p" id="type" name="type"  th:field="*{idgroup}" required>
                            <option th:each="group : ${groups}" th:value="${group.idgroup}" th:text="${group.name}"></option>
                        </select>


                        <input type="submit" name="loginButton" id="loginButton2" value="Добавить">
                    </div>
                </form>
            </div>
        </section>
        <section id="users2" class="users-main">
            <div class="statements-table">
                <form th:method="POST" th:object="${newUser}" th:action="@{/admin/createUser}">
                    <div id="logn">
                        <h1 id="logInTitle">Добавление пользователя</h1>

                        <label for="lastname"></label>
                        <input type="text" name="lastname" id="lastname" class="logIn-input" th:field="*{lastname}" placeholder="Фамилия">
                        <div style="color: red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" ></div>

                        <label for="username"></label>
                        <input type="text" name="username" id="username" class="logIn-input" th:field="*{username}" placeholder="Имя">
                        <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" ></div>

                        <label for="email"></label>
                        <input type="email" name="email" id="email" class="logIn-input" th:field="*{email}" placeholder="Адрес эл. почты">
                        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></div>

                        <label for="number"></label>
                        <input type="text" name="number" id="number" class="logIn-input" th:field="*{phone}" placeholder="Номер телефона">
                        <div style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" ></div>

                        <label for="password"></label>
                        <input type="password" name="password" id="password" th:field="*{password}" placeholder="Пароль">
                        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></div>


                        <input type="submit" name="loginButton" id="loginButton" value="Добавить">
                    </div>
                </form>
            </div>
        </section>

        <section id="groups2" class="users-main">
            <div class="statements-table">
                <form th:method="POST" th:object="${newGroup}" th:action="@{/admin/createGroup}">
                    <div id="logn1">
                        <h1 id="logInTitle1">Добавление группы</h1>

                        <label for="lastname"></label>
                        <input type="text" name="lastname" id="lastname1" class="logIn-input" th:field="*{name}" placeholder="Название">
                        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></div>

                        <input type="submit" name="loginButton" id="loginButton1" value="Добавить">
                    </div>
                </form>
            </div>
        </section>
    </main>

    <script>
        function showTable(id, ...idClose) {
            for (const arg of idClose) {
                let tableClose = document.getElementById(arg);
                if (!tableClose) {
                    console.log(`Element with id "${arg}" not found`);
                    continue;
                }
                tableClose.style.display = 'none';
            }
            let table = document.getElementById(id);
            if (!table) {
                console.log(`Element with id "${id}" not found`);
                return;
            }
            table.style.display = 'flex';
        }
    </script>
</body>
</html>