<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records</title>

    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="../static/css//header.css" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">

    <link rel="stylesheet" href="../static/css/admin.css" th:href="@{/css/admin.css}">

    <link rel="stylesheet" href="../static/css/logIn.css" th:href="@{/css/logIn.css}">

    <link rel="stylesheet" href="../static/css/dropdownMenu.css" th:href="@{/css/dropdownMenu.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
<section id="groups2">
    <table id="groups-rec-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Группа</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.getIdstudent()}"></td>
            <td th:text="${student.getLastname()}"></td>
            <td th:text="${student.getFirstname()}"></td>
            <td th:text="${group.name}"></td>
            <td>
                <form th:action="@{/admin/deleteStudent/{id}(id=${student.getIdstudent()})}" th:method="POST">
                    <input type="submit" value="Удалить">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>